body {
  margin: 0;
  line-height: normal;
}
.delete-account3 {
  position: absolute;
  top: 15px;
  left: 63px;
  color: var(--color-black);
  display: inline-block;
  width: 207px;
  height: 16px;
}
.disable-account-2-child {
  position: absolute;
  top: 574.5px;
  left: 1px;
  width: 359px;
  height: 1px;
}
.disable-account-2-item {
  position: absolute;
  top: 86px;
  left: 42px;
  border-radius: var(--br-md);
  width: 261px;
  height: 250px;
}
.image-18-icon1 {
  position: absolute;
  top: 121px;
  left: 116px;
  width: 113px;
  height: 100px;
  object-fit: cover;
}
.success-your-account {
  margin-block-start: 0;
  margin-block-end: 0;
}
.has-been-deleted {
  margin: 0;
}
.success-your-account-container {
  position: absolute;
  top: 269px;
  left: 73px;
  display: inline-block;
  width: 214px;
  height: 67px;
}
.disable-account-2-inner {
  position: absolute;
  top: 384px;
  left: 73px;
  border-radius: var(--br-md);
  width: 205px;
  height: 38px;
}
.continue {
  position: absolute;
  top: 393px;
  left: 145px;
  cursor: pointer;
}
.disable-account-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-abhaya-libre);
}
